<article>
    <div class="container">
        <h3 class="display-4">ngx-table</h3>
        <p>
            <small>Angular library for displaying data in table</small>
        </p>
        <a href="https://github.com/ommaralquisi/ngx-table" class="btn btn-light" role="button" aria-disabled="true">View on GitHub</a>
    </div>
</article>
<br>
<div class="container">
    <tabset [justified]="true">
        <tab heading="static data demo"><app-static-data-demo></app-static-data-demo></tab>
        <tab heading="dynamic data demo"><app-dynamic-data-demo></app-dynamic-data-demo></tab>
        <tab heading="template demo"><app-static-with-template-demo></app-static-with-template-demo>
        </tab>
    </tabset>
</div>
